
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --colorBlanco: #ffffff;
  --colorNegro: #212429;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  margin: 0 16px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: var(--colorNegro)
}

body{
  margin: 0 16px;
}

/* NAVBAR */

.navbar {
  height: 64px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f6;
  border-bottom: 1px solid var(--colorNegro);
}

.navbar a{
  padding: 0 8px;
  text-decoration: none;
  color: var(--colorNegro) /* -webkit any link */
}

/* Mobile First */
.navbar-section2{
  display: none;
}
/* Mobile First */
.navbar-section3{
  display: none;
}

/* MAIN */

.products{
  max-width: 920px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  
  justify-items: center;
}

.product{
  background-color: dodgerblue;
  /*padding: 1rem;*/
}

.product-img{
  border-radius: 16px;
}

.product-detail{
  padding: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

main{
  padding: 16px;
}
.title{
  margin-top: 16px;
  margin-bottom: 16px;
}
.fontsizetitle{
  font-size: clamp(1rem, 2.5vw, 2rem); 
}

@media (min-width: 768px) {
  .products { grid-template-columns: repeat(2, 1fr); }
  
}

@media (min-width: 1024px) {
  body{
    width: 1024px;
    margin: 0 auto;
  }
  
  .products { 
    grid-template-columns: repeat(3, 1fr);
  }
  
  .navbar-section1, .navbar-section2, .navbar-section3{
    display: block;
  }
  .navbar{
    justify-content: space-between;
  }
  
 
}
